body {
  background-color: #111;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
  transition: background 0.8s ease;
  animation: fundo 15s ease infinite;

}

.carrossel {
  width: 300px;
  height: 500px;
  overflow: visible;
  border-radius: 10px;
  margin-bottom: 15px;
}




@keyframes pulsar {
  0% { box-shadow: 0 0 15px #FFF394, 0 0 30px gold; }
  50% { box-shadow: 0 0 30px #FFF394, 0 0 60px gold; }
  100% { box-shadow: 0 0 15px #FFF394, 0 0 30px gold; }
}
.carrossel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  border-radius: 10px;
  border: 3px solid transparent;
  transition: all 0.3s ease;
}




.flutuando {
  animation: flutuar 3s ease-in-out infinite;
}

@keyframes flutuar {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-15px); } 
  100% { transform: translateY(0px); }
}


.carrossel img.active {
  display: block;
}

button {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #666;
}
@keyframes fundo{
    0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


